.Footer{
    background: #3A3330;
    display: grid;
}
.Footer__items{
    display: grid;
    grid-template-columns: 25% 40% 35%;
    margin-top: 5%;
}
.Footer__information{
    color: #FFFFFF;
}
.Footer__information h4{
    border-bottom: 1px solid white;
    width: 50%;
    margin-left: 10%;
}
.Footer__items ul li a{
    color: #FFFFFF;
    text-decoration: none;


}
.Footer__items ul li{
    display: block;
}
.Footer__category h4 {
    color: #FFFFFF;
    border-bottom: 1px solid white;
    width: 50%;
    font-size: 2.5vh;
    margin-left: 7%;
}
.Footer__contact{
    background: #26211E;
    border-radius: 40px;
    width: 125%;
    height: 100%;
    color: white;
    padding: 4%;
    box-sizing: border-box;
}
.Footer__contact h3{
    font-size: 2.5vh;
}
.Footer__contact h4{
    font-size: 2vh;
}
.Number{
    display: flex;
    font-size: 2vh;
}
.Button {
    display: inline-block;
    width: 100%;
    margin-right: 25px;
}
.icons{
    font-size: 3.5vh;
    display: flex;
    gap: 45px;
    margin-top: 8%;
    margin-left: 2%;
}
#footer{
    background: rgba(217, 217, 217, 0.1);
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    height: 30%;
    padding: 5%;
    color: #FFFFFF;
}
.Footer__copyright{
    align-items: center;
    color: #FFFFFF;
    margin-top: 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 109%;
}
.Footer__copyright p{
    margin-left: 25%;
}
