.MiniCard{
    background: linear-gradient(98.34deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.08), inset 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 110%;
    height: 100%;
}
.MiniCard img{
    margin: 10% 15% 9% 17%;
}
.MiniCard p{
    margin-left: 30%;
}
.MiniCard:hover{
    background: linear-gradient(98.34deg, #cecece 0%, #cecece 100%);
}
.MiniCards{
    display: grid;
    grid-template-columns: 18%  18%  18% 18% 15%;
    justify-content: space-between;
}
