.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.See__all {
    color: rgba(255, 104, 117, 1);
    text-decoration: none;
    gap: 2px;
}
.See__all:hover {
    color: rgb(255, 28, 15);
    text-decoration: none;
    gap: 2px;
}

.See__all a {
    color: rgba(255, 104, 117, 1);
    text-decoration: none;
    gap: 2px;
}
.See__all a:hover {
    color: rgb(255, 28, 15);
    text-decoration: none;
    gap: 2px;
}
.Cards {
    display: grid;
    grid-template-columns: 22% 22% 22% 18%;
    justify-content: space-between;
}

.Card {
    width: 20%;
    height: 30%;
    background: linear-gradient(98.34deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.08);
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
}

.Card__body {
    margin: 10px 10px 10px 10px;
}

.Card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 65px;
    height: 30px;
    border: none;
}
.Real__price{
    color: rgba(125, 125, 125, 1);
    text-decoration: line-through rgba(125, 125, 125, 1);
}
