.Navigation a{
      color: #1D1D1D;
      text-decoration: none;
  }
.Navigation a:hover{
    color: #1D1D1D;
    text-decoration: none;
}
.Nav__contact a{
    color: #1D1D1D;
    text-decoration: none;
}
.Nav__contact a:hover{
    color: #1D1D1D;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}

.Container{
    width: 80%;
    margin: auto;
}
.Navbar{
    background: #F8F8F8;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}
.Nav{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr;
    padding-top: 15px;
}

.Navigation{
    display: flex;
    align-items: center;
    gap: 28px;
    justify-content: end;
}
.Location{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
.Nav__contact {
    text-align: end;
}
.Nav__contact p{
    color: #FF3232;
    margin-left: 76px;
}
.Nav__contact h3{
    font-size: 2.5vh;
}
