.FamousBrands{
    padding: 1% 0;
    padding-bottom: 4%;
}
.FamousBrands h2{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    color: #001025;
    margin: 3% 0;
}
.rows2{
    display: flex;
    -webkit-box-shadow:0 0 15px 0 rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow:0 0 15px 0 rgba(34, 60, 80, 0.2) inset;
    box-shadow:0 0 15px 0 rgba(34, 60, 80, 0.2) inset;
    border-radius: 30px;
}
.column-2 {
    width: 20%;
    padding: 5%;
    border-right: 1px solid rgba(128, 128, 128, 0.51);
    text-align: center;
}
.apple:hover, .apple{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.mi:hover, .mi{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.column-2:hover{
    background-color: #ececec;
}
.column-2:nth-child(5){
    border-right: 0;
}

@media screen and (min-width: 670px) and (max-width: 991px)  {
    .column-2 img{
        width: 5vw;
    }
}
@media screen and (min-width: 621px) and (max-width: 669px){
    .column-2 img{
        width: 5vw;
    }
}
@media screen and (max-width: 620px){
    ::-webkit-scrollbar {
        height: 0;
    }
    .FamousBrands h2{
        font-size: 4vw;
    }

    .column-2 img{
        width: 15vw;
        padding: 10%;
    }
    .rows2{
        width: 800px;
    }
    .ForScroll{
        overflow-x: scroll;
        padding-right: 10%;
    }
}